.TFDIncident_frmReportOther {
}
.TFDIncident_frmReportOther .frmReportOther {
	background-color: #804000;
	min-width: 794px;
	min-height: 512px;
	position: absolute;
	overflow: hidden;
	cursor: default;
}
.TFDIncident_frmReportOther .lbTitle {
	background-color: Transparent;
	cursor: default;
	font-family: Verdana;
	font-size: 16.56px;
	font-weight: bold;
	font-style: italic;
	color: #FFE0C0;
	left: 8px;
	top: 4px;
	position: absolute;
	width: 477px;
	height: 25px;
}
.TFDIncident_frmReportOther .cmdPrint {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Verdana;
	font-size: 12.24px;
	font-weight: bold;
	left: 504px;
	top: 4px;
	position: absolute;
	width: 125px;
	height: 29px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.TFDIncident_frmReportOther .cmdPrint:enabled {
	color: rgba(0, 0, 0, 1);
}
.TFDIncident_frmReportOther .cmdClose {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Verdana;
	font-size: 12.24px;
	font-weight: bold;
	left: 632px;
	top: 4px;
	position: absolute;
	width: 125px;
	height: 29px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.TFDIncident_frmReportOther .cmdClose:enabled {
	color: rgba(0, 0, 0, 1);
}
.TFDIncident_frmReportOther .sprOtherReport {
	left: 4px;
	top: 36px;
	position: absolute;
	width: 785px;
	height: 469px;
}
.TFDIncident_frmReportOther .sprOtherReport .k-tabstrip-wrapper {
	display: none;
}
.TFDIncident_frmReportOther .sprOtherReport .k-spreadsheet-action-bar {
	display: none;
}

