.TFDIncident_dlgHIPAAMsg {
}
.TFDIncident_dlgHIPAAMsg .dlgHIPAAMsg {
	background-color: #FFFFC0;
	min-width: 398px;
	min-height: 210px;
	position: absolute;
	overflow: hidden;
	cursor: default;
}
.TFDIncident_dlgHIPAAMsg .lbHIPAAMsg {
	background-color: Transparent;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Verdana;
	font-size: 16.2px;
	font-weight: bold;
	font-style: italic;
	color: Navy;
	left: 8px;
	top: 4px;
	position: absolute;
	width: 381px;
	height: 25px;
}
.TFDIncident_dlgHIPAAMsg .sprHIPAAMsg {
	font-family: Microsoft Sans Serif;
	font-size: 9.9px;
	left: 4px;
	top: 56px;
	position: absolute;
	width: 389px;
	height: 141px;
}
.TFDIncident_dlgHIPAAMsg .sprHIPAAMsg .k-tabstrip-wrapper {
	display: none;
}
.TFDIncident_dlgHIPAAMsg .sprHIPAAMsg .k-spreadsheet-action-bar {
	display: none;
}
.TFDIncident_dlgHIPAAMsg .frmReleaseInfo {
	background-color: #FFFFC0;
	left: 176px;
	top: 176px;
	position: absolute;
	width: 389px;
	height: 137px;
	border: 2px groove;
}
.TFDIncident_dlgHIPAAMsg .frmReleaseInfo:enabled {
	color: rgba(0, 0, 0, 1);
}
.TFDIncident_dlgHIPAAMsg .txtReleaseName {
	background-color: rgba(255, 255, 255, 1);
	border-style: inset;
	cursor: text;
	font-family: Arial;
	font-size: 10.8px;
	left: 80px;
	top: 16px;
	position: absolute;
	width: 305px;
	height: 21px;
}
.TFDIncident_dlgHIPAAMsg .txtReleaseName:enabled {
	color: rgba(0, 0, 0, 1);
}
.TFDIncident_dlgHIPAAMsg ._Label1_0 {
	background-color: Transparent;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	color: rgba(0, 0, 0, 1);
	left: 8px;
	top: 20px;
	position: absolute;
	width: 73px;
	height: 21px;
}
.TFDIncident_dlgHIPAAMsg .txtReleaseAdd1 {
	background-color: rgba(255, 255, 255, 1);
	border-style: inset;
	cursor: text;
	font-family: Arial;
	font-size: 10.8px;
	left: 80px;
	top: 40px;
	position: absolute;
	width: 305px;
	height: 21px;
}
.TFDIncident_dlgHIPAAMsg .txtReleaseAdd1:enabled {
	color: rgba(0, 0, 0, 1);
}
.TFDIncident_dlgHIPAAMsg ._Label1_1 {
	background-color: Transparent;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	color: rgba(0, 0, 0, 1);
	left: 4px;
	top: 44px;
	position: absolute;
	width: 73px;
	height: 21px;
}
.TFDIncident_dlgHIPAAMsg ._Label1_2 {
	background-color: Transparent;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	color: rgba(0, 0, 0, 1);
	left: 4px;
	top: 64px;
	position: absolute;
	width: 73px;
	height: 21px;
}
.TFDIncident_dlgHIPAAMsg .txtReleaseAdd2 {
	background-color: rgba(255, 255, 255, 1);
	border-style: inset;
	cursor: text;
	font-family: Arial;
	font-size: 10.8px;
	left: 80px;
	top: 64px;
	position: absolute;
	width: 305px;
	height: 21px;
}
.TFDIncident_dlgHIPAAMsg .txtReleaseAdd2:enabled {
	color: rgba(0, 0, 0, 1);
}
.TFDIncident_dlgHIPAAMsg ._Label1_3 {
	background-color: Transparent;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	color: rgba(0, 0, 0, 1);
	left: 4px;
	top: 88px;
	position: absolute;
	width: 73px;
	height: 21px;
}
.TFDIncident_dlgHIPAAMsg .txtReleaseReason {
	left: 80px;
	top: 88px;
	position: absolute;
	width: 305px;
	height: 45px;
}
.TFDIncident_dlgHIPAAMsg .frmReleaseInfo_legend {
	background-color: inherit;
	margin-left: 5px;
}
.TFDIncident_dlgHIPAAMsg .cmdCancel {
	left: 4px;
	top: 180px;
	position: absolute;
	width: 189px;
	height: 25px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.TFDIncident_dlgHIPAAMsg .cmdPrint {
	left: 236px;
	top: 180px;
	position: absolute;
	width: 77px;
	height: 25px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.TFDIncident_dlgHIPAAMsg .cmdOut {
	left: 312px;
	top: 180px;
	position: absolute;
	width: 81px;
	height: 25px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}

