.PTSProject_frmPhone {
}
.PTSProject_frmPhone .frmPhone {
	background-color: Navy;
	min-width: 576px;
	min-height: 296px;
	position: absolute;
	overflow: hidden;
	cursor: default;
}
.PTSProject_frmPhone .cboEmpList {
	background-color: rgba(255, 255, 255, 1);
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	width: 184px;
	height: 20px;
	visibility: inherit;
}
.PTSProject_frmPhone .cboEmpList:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmPhone .cboEmpListPos {
	top: 12px;
	left: 126px;
	position: absolute;
	width: 184px;
	height: 20px;
}
.PTSProject_frmPhone .lbEmpID {
	background-color: rgba(240, 240, 240, 1);
	border-width: 0px;
	padding: 0px;
	cursor: default;
	color: rgba(0, 0, 0, 1);
	left: 336px;
	top: 15px;
	position: absolute;
	width: 78px;
	height: 18px;
	visibility: hidden;
}
.PTSProject_frmPhone .Label2 {
	background-color: Transparent;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	font-weight: bold;
	color: #FFFFC0;
	left: 17px;
	top: 16px;
	position: absolute;
	width: 97px;
	height: 17px;
}
.PTSProject_frmPhone .lbOr {
	background-color: Transparent;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	font-weight: bold;
	color: #FFFFC0;
	left: 17px;
	top: 34px;
	position: absolute;
	width: 97px;
	height: 17px;
	text-align: center;
}
.PTSProject_frmPhone .cboResource {
	background-color: rgba(255, 255, 255, 1);
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	width: 184px;
	height: 20px;
}
.PTSProject_frmPhone .cboResource:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmPhone .cboResourcePos {
	top: 51px;
	left: 126px;
	position: absolute;
	width: 184px;
	height: 20px;
}
.PTSProject_frmPhone .lbResID {
	background-color: rgba(240, 240, 240, 1);
	border-width: 0px;
	padding: 0px;
	cursor: default;
	color: rgba(0, 0, 0, 1);
	left: 336px;
	top: 51px;
	position: absolute;
	width: 78px;
	height: 18px;
	visibility: hidden;
}
.PTSProject_frmPhone .lbResource {
	background-color: Transparent;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	font-weight: bold;
	color: #FFFFC0;
	left: 17px;
	top: 55px;
	position: absolute;
	width: 97px;
	height: 17px;
}
.PTSProject_frmPhone .Label1 {
	background-color: Transparent;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	font-weight: bold;
	color: #FFFFC0;
	left: 20px;
	top: 92px;
	position: absolute;
	width: 160px;
	height: 17px;
}
.PTSProject_frmPhone .lstPhone {
	background-color: rgba(255, 255, 255, 1);
	border-style: inset;
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	color: rgba(0, 0, 0, 1);
	left: 16px;
	top: 112px;
	position: absolute;
	width: 224px;
	height: 88px;
	visibility: inherit;
}
.PTSProject_frmPhone .lbType {
	background-color: Transparent;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	font-weight: bold;
	color: #FFFFC0;
	left: 248px;
	top: 112px;
	position: absolute;
	width: 103px;
	height: 17px;
	text-align: center;
}
.PTSProject_frmPhone .cboType {
	background-color: rgba(255, 255, 255, 1);
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	width: 208px;
	height: 23px;
}
.PTSProject_frmPhone .cboType:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmPhone .cboTypePos {
	top: 112px;
	left: 353px;
	position: absolute;
	width: 208px;
	height: 23px;
}
.PTSProject_frmPhone .txtPhone {
	background-color: rgba(255, 255, 255, 1);
	border-style: inset;
	cursor: text;
	font-family: Arial;
	font-size: 10.8px;
	left: 353px;
	top: 144px;
	position: absolute;
	width: 205px;
	height: 20px;
}
.PTSProject_frmPhone .txtPhone:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmPhone .lbNumber {
	background-color: Transparent;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	font-weight: bold;
	color: #FFFFC0;
	left: 248px;
	top: 149px;
	position: absolute;
	width: 103px;
	height: 17px;
	text-align: center;
}
.PTSProject_frmPhone .chkCallBack {
	background-color: Navy;
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	font-weight: bold;
	left: 352px;
	top: 168px;
	position: absolute;
	width: 201px;
	height: 17px;
	width: auto;
}
.PTSProject_frmPhone .chkCallBack:enabled {
	color: #FFC080;
}
.PTSProject_frmPhone .lbComment {
	background-color: Transparent;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	font-weight: bold;
	color: #FFFFC0;
	left: 264px;
	top: 176px;
	position: absolute;
	width: 72px;
	height: 17px;
}
.PTSProject_frmPhone .txtComment {
	background-color: rgba(255, 255, 255, 1);
	border-style: inset;
	cursor: text;
	font-family: Arial;
	font-size: 10.8px;
	left: 260px;
	top: 192px;
	position: absolute;
	overflow: auto;
	width: 299px;
	height: 33px;
}
.PTSProject_frmPhone .txtComment:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmPhone .cmdAdd {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Microsoft Sans Serif;
	font-size: 11.52px;
	left: 16px;
	top: 248px;
	position: absolute;
	width: 121px;
	height: 32px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.PTSProject_frmPhone .cmdAdd:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmPhone .cmdUpdate {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Microsoft Sans Serif;
	font-size: 11.52px;
	left: 155px;
	top: 248px;
	position: absolute;
	width: 121px;
	height: 32px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.PTSProject_frmPhone .cmdUpdate:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmPhone .cmdDelete {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Microsoft Sans Serif;
	font-size: 11.52px;
	left: 294px;
	top: 248px;
	position: absolute;
	width: 121px;
	height: 32px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.PTSProject_frmPhone .cmdDelete:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmPhone .cmdClose {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Microsoft Sans Serif;
	font-size: 11.52px;
	left: 432px;
	top: 248px;
	position: absolute;
	width: 121px;
	height: 32px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.PTSProject_frmPhone .cmdClose:enabled {
	color: rgba(0, 0, 0, 1);
}

