.PTSProject_frmSplash {
}
.PTSProject_frmSplash .frmSplash {
	background-color: Blue;
	min-width: 100%;
	min-height: 100%;
	position: center;
	overflow: hidden;
	cursor: default;
}
.PTSProject_frmSplash .Frame1 {
	background-color: peachpuff;
	position: center;
	width: 800px;
	height: 600px;
	visibility: inherit;
	border: 2px groove;
}
.PTSProject_frmSplash .Frame1:enabled {
	color: black;
}
.PTSProject_frmSplash .lblCompanyProduct {
	background-color: transparent;
	cursor: default;
	font-family: Arial;
	font-size: xx-large;
	color: black;
	top: 16px;
	position: center;
	width: 600px;
	height: 40px;
	text-align: center;
}
.PTSProject_frmSplash .lblProductName {
	background-color: transparent;
	cursor: default;
	font-family: Arial;
	font-size: xx-large;
	color: black;
	top: 70px;
	position: center;
	width: 600px;
	height: 32px;
	text-align: center;
}
/*.PTSProject_frmSplash .imgLogo {
	cursor: default;
	background-image: url("/Resources/images/frmSplash.imgLogo.Image.png");
	background-repeat: no-repeat;
	left: 16px;
	top: 88px;
	position: absolute;
	width: 213px;
	height: 195px;
	background-size: 100% 100%;
	visibility: inherit;
}*/
.PTSProject_frmSplash .lbTrainingMode {
	background-color: lightgreen;
	cursor: default;
	font-family: Arial;
	font-size: x-large;
	color: navy;
	top: 200px;
	position: center;
	width: 600px;
	height: 36px;
	text-align: center;
}
.PTSProject_frmSplash .lbVersionDate {
	background-color: transparent;
	cursor: default;
	font-family: Arial;
	font-size: x-large;
	color: black;
	top: 250px;
	position: center;
	width: 600px;
	height: 24px;
	text-align: center;
}
.PTSProject_frmSplash .lblVersion {
	background-color: transparent;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	color: black;
	top: 300px;
	position: center;
	width: 600px;
	height: 20px;
	text-align: center;
}
.PTSProject_frmSplash .lblCopyright {
	background-color: transparent;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	color: black;
	top: 350px;
	position: center;
	width: 600px;
	height: 25px;
	text-align: center;
}
.PTSProject_frmSplash .lblWarning {
	background-color: transparent;
	cursor: default;
	font-family: Arial;
	font-size: small;
	color: transparent;
	left: 8px;
	top: 400px;
	position: center;
	width: 600px;
	height: 20px;
}
.PTSProject_frmSplash .lblCompany {
	background-color: transparent;
	cursor: default;
	font-family: Arial;
	font-size: large;
	color: black;
	top: 430px;
	position: center;
	width: 600px;
	height: 25px;
	text-align: center;
}
.PTSProject_frmSplash .Frame1_legend {
	background-color: inherit;
	margin-left: 5px;
}

