.PTSProject_frmRoster {
}
.PTSProject_frmRoster .frmRoster {
	background-color: Silver;
	min-width: 1029px;
	min-height: 552px;
	position: absolute;
	overflow: hidden;
	cursor: default;
}
.PTSProject_frmRoster .cmdPrint {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Microsoft Sans Serif;
	font-size: 11.7px;
	left: 360px;
	top: 3px;
	position: absolute;
	width: 73px;
	height: 28px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.PTSProject_frmRoster .cmdPrint:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmRoster .cmdClose {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Microsoft Sans Serif;
	font-size: 11.7px;
	left: 437px;
	top: 3px;
	position: absolute;
	width: 73px;
	height: 28px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.PTSProject_frmRoster .cmdClose:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmRoster .cboName {
	background-color: rgba(255, 255, 255, 1);
	cursor: default;
	font-family: Arial;
	font-size: 12.6px;
	width: 229px;
	height: 24px;
}
.PTSProject_frmRoster .cboName:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmRoster .cboNamePos {
	top: 5px;
	left: 120px;
	position: absolute;
	width: 229px;
	height: 24px;
}
.PTSProject_frmRoster .Label1 {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: 12.6px;
	font-weight: bold;
	color: Maroon;
	left: 10px;
	top: 8px;
	position: absolute;
	width: 107px;
	height: 20px;
}
.PTSProject_frmRoster .sprRoster {
	left: 8px;
	top: 32px;
	position: absolute;
	width: 1014px;
	height: 498px;
}
.PTSProject_frmRoster .sprRoster .k-tabstrip-wrapper {
	display: none;
}
.PTSProject_frmRoster .sprRoster .k-spreadsheet-action-bar {
	display: none;
}

