.PTSProject_frmSplash {
}
.PTSProject_frmSplash .frmSplash {
	background-color: Blue;
	min-width: 556px;
	min-height: 367px;
	position: absolute;
	overflow: hidden;
	cursor: default;
}
.PTSProject_frmSplash .Frame1 {
	background-color: #FFE0C0;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 540px;
	height: 350px;
	visibility: inherit;
	border: 2px groove;
}
.PTSProject_frmSplash .Frame1:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmSplash .lblCompanyProduct {
	white-space: nowrap;
	overflow: hidden;
	background-color: #FFE0C0;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 21.6px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	left: 8px;
	top: 16px;
	position: absolute;
	width: 521px;
	height: 28px;
	text-align: center;
}
.PTSProject_frmSplash .lblProductName {
	white-space: nowrap;
	overflow: hidden;
	background-color: #FFE0C0;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 24.48px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	left: 16px;
	top: 48px;
	position: absolute;
	width: 513px;
	height: 32px;
	text-align: center;
}
.PTSProject_frmSplash .imgLogo {
	border-width: 0px;
	padding: 0px;
	cursor: default;
	background-image: url("/Resources/images/frmSplash.imgLogo.Image.png");
	background-repeat: no-repeat;
	left: 16px;
	top: 88px;
	position: absolute;
	width: 213px;
	height: 195px;
	background-size: 100% 100%;
	visibility: inherit;
}
.PTSProject_frmSplash .lbTrainingMode {
	white-space: nowrap;
	overflow: hidden;
	background-color: #C0FFFF;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 21.6px;
	font-weight: bold;
	color: #0000C0;
	left: 240px;
	top: 128px;
	position: absolute;
	width: 286px;
	height: 36px;
	text-align: center;
}
.PTSProject_frmSplash .lbVersionDate {
	white-space: nowrap;
	overflow: hidden;
	background-color: #FFE0C0;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 17.28px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	left: 288px;
	top: 208px;
	position: absolute;
	width: 197px;
	height: 24px;
	text-align: center;
}
.PTSProject_frmSplash .lblVersion {
	white-space: nowrap;
	overflow: hidden;
	background-color: #FFE0C0;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 14.4px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	left: 328px;
	top: 240px;
	position: absolute;
	width: 112px;
	height: 20px;
	text-align: center;
}
.PTSProject_frmSplash .lblCopyright {
	background-color: #FFE0C0;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 13.68px;
	color: rgba(0, 0, 0, 1);
	left: 328px;
	top: 288px;
	position: absolute;
	width: 181px;
	height: 25px;
	text-align: center;
}
.PTSProject_frmSplash .lblWarning {
	background-color: #FFE0C0;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 11.52px;
	color: rgba(0, 0, 0, 1);
	left: 8px;
	top: 312px;
	position: absolute;
	width: 310px;
	height: 13px;
}
.PTSProject_frmSplash .lblCompany {
	background-color: #FFE0C0;
	border-width: 0px;
	padding: 0px;
	cursor: default;
	font-family: Arial;
	font-size: 14.4px;
	color: rgba(0, 0, 0, 1);
	left: 324px;
	top: 312px;
	position: absolute;
	width: 189px;
	height: 25px;
	text-align: center;
}
.PTSProject_frmSplash .Frame1_legend {
	background-color: inherit;
	margin-left: 5px;
}

