.PTSProject_frmEmployeeSizes {
}
.PTSProject_frmEmployeeSizes .frmEmployeeSizes {
	background-color: #400000;
	min-width: 538px;
	min-height: 474px;
	position: absolute;
	overflow: hidden;
	cursor: default;
}
.PTSProject_frmEmployeeSizes .Frame2 {
	background-color: #400000;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	left: 248px;
	top: 0px;
	position: absolute;
	width: 97px;
	height: 73px;
	border: 2px groove;
}
.PTSProject_frmEmployeeSizes .Frame2:enabled {
	color: Aqua;
}
.PTSProject_frmEmployeeSizes .optBunker {
	background-color: #400000;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	left: 8px;
	top: 16px;
	position: absolute;
	width: 81px;
	height: 33px;
	cursor: default;
}
.PTSProject_frmEmployeeSizes .optBunker:enabled {
	color: #FFFF80;
}
.PTSProject_frmEmployeeSizes .optBunker * {
	Cursor: default;
}
.PTSProject_frmEmployeeSizes .optUniform {
	background-color: #400000;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	left: 8px;
	top: 48px;
	position: absolute;
	width: 81px;
	height: 17px;
	cursor: default;
}
.PTSProject_frmEmployeeSizes .optUniform:enabled {
	color: #FFFF80;
}
.PTSProject_frmEmployeeSizes .optUniform * {
	Cursor: default;
}
.PTSProject_frmEmployeeSizes .Frame2_legend {
	background-color: inherit;
	margin-left: 5px;
}
.PTSProject_frmEmployeeSizes .Label11 {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	font-weight: bold;
	color: #00C0C0;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 177px;
	height: 17px;
}
.PTSProject_frmEmployeeSizes .cmdClose {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Microsoft Sans Serif;
	font-size: 11.52px;
	left: 424px;
	top: 8px;
	position: absolute;
	width: 97px;
	height: 25px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.PTSProject_frmEmployeeSizes .cmdClose:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .cboEmpList {
	background-color: rgba(255, 255, 255, 1);
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	width: 225px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .cboEmpList:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .cboEmpListPos {
	top: 24px;
	left: 8px;
	position: absolute;
	width: 225px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .lbEmpID {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	left: 368px;
	top: 24px;
	position: absolute;
	width: 41px;
	height: 17px;
	visibility: hidden;
}
.PTSProject_frmEmployeeSizes .lbTotalCount {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: 10.8px;
	font-weight: bold;
	color: #FFC0C0;
	left: 320px;
	top: 80px;
	position: absolute;
	width: 209px;
	height: 17px;
	text-align: center;
}
.PTSProject_frmEmployeeSizes .sprUniformList {
	left: 8px;
	top: 96px;
	position: absolute;
	width: 524px;
	height: 193px;
}
.PTSProject_frmEmployeeSizes .sprUniformList .k-tabstrip-wrapper {
	display: none;
}
.PTSProject_frmEmployeeSizes .sprUniformList .k-spreadsheet-action-bar {
	display: none;
}
.PTSProject_frmEmployeeSizes .sprBunkerList {
	left: 8px;
	top: 96px;
	position: absolute;
	width: 524px;
	height: 193px;
}
.PTSProject_frmEmployeeSizes .sprBunkerList .k-tabstrip-wrapper {
	display: none;
}
.PTSProject_frmEmployeeSizes .sprBunkerList .k-spreadsheet-action-bar {
	display: none;
}
.PTSProject_frmEmployeeSizes .frmUniformDetail {
	background-color: #400000;
	left: 8px;
	top: 312px;
	position: absolute;
	width: 521px;
	height: 121px;
	border: 2px groove;
}
.PTSProject_frmEmployeeSizes .frmUniformDetail:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .Label1 {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	color: #80FF80;
	left: 16px;
	top: 16px;
	position: absolute;
	width: 105px;
	height: 17px;
	text-align: center;
}
.PTSProject_frmEmployeeSizes .chkChangeDate {
	background-color: #400000;
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	left: 136px;
	top: 16px;
	position: absolute;
	width: 137px;
	height: 17px;
	width: auto;
}
.PTSProject_frmEmployeeSizes .chkChangeDate:enabled {
	color: #80FF80;
}
.PTSProject_frmEmployeeSizes .cmdEditUniformSize {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	left: 440px;
	top: 24px;
	position: absolute;
	width: 73px;
	height: 17px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.PTSProject_frmEmployeeSizes .cmdEditUniformSize:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .cboUniformItem {
	background-color: rgba(255, 255, 255, 1);
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	width: 105px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .cboUniformItem:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .cboUniformItemPos {
	top: 32px;
	left: 16px;
	position: absolute;
	width: 105px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .dteDateSized {
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
}
.PTSProject_frmEmployeeSizes .dteDateSized.k-datepicker {
	left: 152px;
	top: 32px;
	position: absolute;
	width: 105px;
	height: 19px;
}
.PTSProject_frmEmployeeSizes .Label6 {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	color: #80FF80;
	left: 16px;
	top: 64px;
	position: absolute;
	width: 241px;
	height: 17px;
	text-align: center;
}
.PTSProject_frmEmployeeSizes .lbRecordID {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	left: 448px;
	top: 64px;
	position: absolute;
	width: 41px;
	height: 17px;
	visibility: hidden;
}
.PTSProject_frmEmployeeSizes .txtItemSizeDesc {
	background-color: rgba(255, 255, 255, 1);
	cursor: text;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	left: 16px;
	top: 80px;
	position: absolute;
	width: 241px;
	height: 19px;
}
.PTSProject_frmEmployeeSizes .txtItemSizeDesc:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .frmUniformDetail_legend {
	background-color: inherit;
	margin-left: 5px;
}
.PTSProject_frmEmployeeSizes .frmBunkerDetail {
	background-color: #400000;
	left: 8px;
	top: 320px;
	position: absolute;
	width: 521px;
	height: 121px;
	border: 2px groove;
}
.PTSProject_frmEmployeeSizes .frmBunkerDetail:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .cmdNewRecord {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	left: 440px;
	top: 0px;
	position: absolute;
	width: 73px;
	height: 17px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.PTSProject_frmEmployeeSizes .cmdNewRecord:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .chkInDate {
	background-color: #400000;
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	left: 8px;
	top: 16px;
	position: absolute;
	width: 105px;
	height: 17px;
	width: auto;
}
.PTSProject_frmEmployeeSizes .chkInDate:enabled {
	color: #80FF80;
}
.PTSProject_frmEmployeeSizes .Label14 {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	color: #80FF80;
	left: 128px;
	top: 16px;
	position: absolute;
	width: 201px;
	height: 17px;
}
.PTSProject_frmEmployeeSizes .Label2 {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	color: #80FF80;
	left: 336px;
	top: 16px;
	position: absolute;
	width: 65px;
	height: 17px;
	text-align: center;
}
.PTSProject_frmEmployeeSizes .cmdEdit {
	background-color: rgba(240, 240, 240, 1);
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	left: 440px;
	top: 24px;
	position: absolute;
	width: 73px;
	height: 17px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
	display: table-cell;
}
.PTSProject_frmEmployeeSizes .cmdEdit:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .dteInDate {
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
}
.PTSProject_frmEmployeeSizes .dteInDate.k-datepicker {
	left: 8px;
	top: 32px;
	position: absolute;
	width: 105px;
	height: 19px;
}
.PTSProject_frmEmployeeSizes .cboCoatSize {
	background-color: rgba(255, 255, 255, 1);
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	width: 41px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .cboCoatSize:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .cboCoatSizePos {
	top: 32px;
	left: 131px;
	position: absolute;
	width: 41px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .txtCoatSizeDesc {
	background-color: rgba(255, 255, 255, 1);
	cursor: text;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	left: 182px;
	top: 32px;
	position: absolute;
	width: 145px;
	height: 19px;
}
.PTSProject_frmEmployeeSizes .txtCoatSizeDesc:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .cboPantSize {
	background-color: rgba(255, 255, 255, 1);
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	width: 65px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .cboPantSize:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .cboPantSizePos {
	top: 32px;
	left: 336px;
	position: absolute;
	width: 65px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .Label3 {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	color: #80FF80;
	left: 8px;
	top: 64px;
	position: absolute;
	width: 105px;
	height: 17px;
	text-align: center;
}
.PTSProject_frmEmployeeSizes .Label4 {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	color: #80FF80;
	left: 128px;
	top: 64px;
	position: absolute;
	width: 113px;
	height: 17px;
	text-align: center;
}
.PTSProject_frmEmployeeSizes .Label5 {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	color: #80FF80;
	left: 248px;
	top: 64px;
	position: absolute;
	width: 265px;
	height: 17px;
}
.PTSProject_frmEmployeeSizes .cboGloveSize {
	background-color: rgba(255, 255, 255, 1);
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	width: 105px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .cboGloveSize:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .cboGloveSizePos {
	top: 80px;
	left: 8px;
	position: absolute;
	width: 105px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .cboBootBrand {
	background-color: rgba(255, 255, 255, 1);
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	width: 113px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .cboBootBrand:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .cboBootBrandPos {
	top: 80px;
	left: 128px;
	position: absolute;
	width: 113px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .cboBootSize {
	background-color: rgba(255, 255, 255, 1);
	cursor: default;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	width: 49px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .cboBootSize:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .cboBootSizePos {
	top: 80px;
	left: 248px;
	position: absolute;
	width: 49px;
	height: 20px;
}
.PTSProject_frmEmployeeSizes .txtBootSizeDesc {
	background-color: rgba(255, 255, 255, 1);
	cursor: text;
	font-family: Arial;
	font-size: 9.360001px;
	font-weight: bold;
	left: 304px;
	top: 80px;
	position: absolute;
	width: 209px;
	height: 19px;
}
.PTSProject_frmEmployeeSizes .txtBootSizeDesc:enabled {
	color: rgba(0, 0, 0, 1);
}
.PTSProject_frmEmployeeSizes .frmBunkerDetail_legend {
	background-color: inherit;
	margin-left: 5px;
}

