.PTSProject_frmDailyStaffing {
}
.PTSProject_frmDailyStaffing .frmDailyStaffing {
	background-color: darkblue;
	min-width: 906px;
	min-height: 725px;
	position: absolute;
	overflow: hidden;
	cursor: default;
}
.PTSProject_frmDailyStaffing .cmdOvertime {
	background-color: lightgray;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	left: 592px;
	top: 10px;
	position: absolute;
	width: 175px;
	height: 25px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
}
.PTSProject_frmDailyStaffing .cmdOvertime:enabled {
	color: black;
}
.PTSProject_frmDailyStaffing .cmdPrint {
	background-color: lightgray;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	left: 784px;
	top: 10px;
	position: absolute;
	width: 97px;
	height: 25px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
}
.PTSProject_frmDailyStaffing .cmdPrint:enabled {
	color: black;
}
.PTSProject_frmDailyStaffing .Label3 {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	color: lightyellow;
	left: 5px;
	top: 16px;
	position: absolute;
	width: 82px;
	height: 36px;
	text-align: center;
}
.PTSProject_frmDailyStaffing .Label1 {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	color: lightyellow;
	left: 173px;
	top: 16px;
	position: absolute;
	width: 90px;
	height: 36px;
	text-align: center;
}
.PTSProject_frmDailyStaffing .Label2 {
	background-color: Transparent;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	color: lightyellow;
	left: 394px;
	top: 16px;
	position: absolute;
	width: 61px;
	height: 32px;
	text-align: center;
}
.PTSProject_frmDailyStaffing ._cmdFilter_0 {
	background-color: lightgray;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	left: 459px;
	top: 18px;
	position: absolute;
	width: 15px;
	height: 20px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
}
.PTSProject_frmDailyStaffing ._cmdFilter_0:enabled {
	color: black;
}
.PTSProject_frmDailyStaffing ._cmdFilter_1 {
	background-color: lightgray;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	left: 481px;
	top: 18px;
	position: absolute;
	width: 15px;
	height: 20px;;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
}
.PTSProject_frmDailyStaffing ._cmdFilter_1:enabled {
	color: black;
}
.PTSProject_frmDailyStaffing ._cmdFilter_2 {
	background-color: lightgray;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	left: 502px;
	top: 18px;
	position: absolute;
	width: 15px;
	height: 20px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
}
.PTSProject_frmDailyStaffing ._cmdFilter_2:enabled {
	color: black;
}
.PTSProject_frmDailyStaffing ._cmdFilter_3 {
	background-color: lightgray;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	left: 524px;
	top: 18px;
	position: absolute;
	width: 15px;
	height: 20px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
}
.PTSProject_frmDailyStaffing ._cmdFilter_3:enabled {
	color: black;
}
.PTSProject_frmDailyStaffing ._cmdFilter_4 {
	background-color: lightgray;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	left: 546px;
	top: 18px;
	position: absolute;
	width: 20px;
	height: 20px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
}
.PTSProject_frmDailyStaffing ._cmdFilter_4:enabled {
	color: black;
}
.PTSProject_frmDailyStaffing .cboYear {
	background-color: white;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	width: 90px;
	height: 24px;
}
.PTSProject_frmDailyStaffing .cboYear:enabled {
	color: black;
}
.PTSProject_frmDailyStaffing .cboYearPos {
	top: 21px;
	left: 84px;
	position: absolute;
	width: 90px;
	height: 24px;
}
.PTSProject_frmDailyStaffing .cboMonth {
	background-color: white;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	width: 119px;
	height: 24px;
}
.PTSProject_frmDailyStaffing .cboMonth:enabled {
	color: black;
}
.PTSProject_frmDailyStaffing .cboMonthPos {
	top: 21px;
	left: 264px;
	position: absolute;
	width: 119px;
	height: 24px;
}
.PTSProject_frmDailyStaffing .cmdAnnualLeave {
	background-color: lightgray;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	left: 592px;
	top: 42px;
	position: absolute;
	width: 175px;
	height: 25px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
}
.PTSProject_frmDailyStaffing .cmdAnnualLeave:enabled {
	color: black;
}
.PTSProject_frmDailyStaffing .cmdClose {
	background-color: lightgray;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	left: 784px;
	top: 42px;
	position: absolute;
	width: 97px;
	height: 25px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
}
.PTSProject_frmDailyStaffing .cmdClose:enabled {
	color: black;
}
.PTSProject_frmDailyStaffing .sprDaily {
	left: 2px;
	top: 85px;
	position: absolute;
	width: 898px;
	height: 641px;
}
.PTSProject_frmDailyStaffing .sprDaily .k-tabstrip-wrapper {
	display: none;
}
.PTSProject_frmDailyStaffing .sprDaily .k-spreadsheet-action-bar {
	display: none;
}

