.PTSProject_frmAssignReport {
}
.PTSProject_frmAssignReport .frmAssignReport {
	background-color:  darkslategrey;
	min-width: 1019px;
	min-height: 752px;
	position: absolute;
	overflow: hidden;
	cursor: default;
}
.PTSProject_frmAssignReport .cmdPrint {
	background-color: lightgray;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 108px;
	height: 46px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
}
.PTSProject_frmAssignReport .cmdPrint:enabled {
	color: black;
}
.PTSProject_frmAssignReport .cmdClose {
	background-color: lightgray;
	cursor: default;
	font-family: Arial;
	font-size: medium;
	left: 120px;
	top: 8px;
	position: absolute;
	width: 108px;
	height: 46px;
	padding: 0px 0px 0px 0px;
	display: table-cell;
	vertical-align: middle;
}
.PTSProject_frmAssignReport .cmdClose:enabled {
	color: black;
}
.PTSProject_frmAssignReport .sprAssign {
	left: 4px;
	top: 56px;
	position: absolute;
	width: 1008px;
	height: 689px;
}
.PTSProject_frmAssignReport .sprAssign .k-tabstrip-wrapper {
	display: none;
}
.PTSProject_frmAssignReport .sprAssign .k-spreadsheet-action-bar {
	display: none;
}

