@using System.Web.Mvc.Html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home Page </title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="dist/style/kendo.webmap.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.5.54/css/materialdesignicons.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
        //This is to avoid the common error of navigating to the html page. This affects the location an some other functions
        if (document.location.pathname.indexOf("resources") != -1) document.location = document.location.origin;
    </script>
    <script src="~/dist/js/library.js"></script>
    <script src="~/dist/js/require.js"></script>
    <script src="~/dist/js/webmap.js"></script>
    <script src="~/dist/js/kendo.webmap.js" type="text/javascript"></script>
    <script src="scripts/Custom.js"></script>

    <script src="~/scripts/Widgets/Interfaces.js"></script>
    <script src="~/scripts/Widgets/WidgetBase.js"></script>
    <script src="~/scripts/Widgets/CustomSpreadsheet.js"></script>
    <script src="~/scripts/Widgets/CustomComboBox.js"></script>
    <script>
            // Configure loading modules from the lib directory,
            // except for 'app' ones, which are in a sibling
            // directory.
            requirejs.config({
                baseUrl: './scripts',

                paths: {
                    "views" : "../resources/",
					"files" : "../dist/js"
                }
            });
    </script>
   @Externals()
</head>
<body>
<header></header>
<div id="body">
    @RenderSection("scripts", required: false)
</div>
<footer></footer>
</body>
</html>

@helper  Externals()
{
foreach (var external in WebSite.ExternalConfig.ExternalLinks)
{
        <script src="@external"></script>
}
}